main{
    background: lightgray; 
    margin: 110px;
}


input {
    padding: 20px;
}

.h3{
    margin-left: 250px;
    padding: 50px;
    font-size: 2.3rem;
    font-weight: bold;
    font-style: italic;
}

.h2{
    color:#fff;
    margin-left: 35%;
    font-size: 2.9rem;
}

h2{
    font-weight: lighter;
    font-size: 1.4rem;
    background: yellow;
}

form{
    padding: 10px;
    margin: 130px 30%;
}

form, #fName{
    margin: 10px 70px;
}

form, #lName{
    margin: 10px 71px;
}

form, #ref{
    margin: 10px 15px;
}

form, input[type="email"]{
    margin: 10px 109px;
}

small{
    background: lightgreen;
}

form, button{
    padding: 0px 135px;
}

input{
    padding: 0px 10px;
}

