<div class="container px-4 py-5" id="custom-cards">
  <h2 class="pb-2 border-bottom">Our services</h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('/assets/images/morden technology.png'); color: #111;">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The gadgets</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>Earth</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>3d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('assets/images/tech cars.jpg');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Car in technology</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>Pakistan</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>4d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('assets/images/tech tree.png');">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
          <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Tech tree style</h2>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
              <small>California</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
              <small>5d</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem nihil blanditiis assumenda quasi suscipit et iusto, officiis necessitatibus atque ea ipsa facilis neque ullam sunt sint illo possimus molestias alias saepe quae. Quae quam exercitationem laudantium dolores voluptas iure quo aperiam alias repellendus nulla. Consequatur fuga eos nostrum ipsam sunt!</p>
  <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Modi quod, maiores omnis molestias vero nam doloribus, dolorem mollitia distinctio, porro culpa saepe delectus tempora eveniet ipsum! Aspernatur, nobis ipsam odio sunt autem natus minus in vel vero tempore voluptatibus, necessitatibus hic et tenetur quam laboriosam! Amet est culpa corporis illum temporibus delectus nihil distinctio illo libero, omnis quibusdam commodi eius dignissimos, quia quis hic. Esse quo perspiciatis mollitia in asperiores sit officiis illum nemo recusandae. Harum voluptate, earum quam tempore repellat minus. Eius, id fugiat mollitia laudantium ex minima. A similique maxime debitis consequatur tempore officiis esse odit repellendus dicta.</p>
</div>


