<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Contact us for more information</h1>
        <p class="col-lg-10 fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium, perspiciatis a quae porro culpa ex dicta nostrum. Quod delectus tempore recusandae porro error quidem a! Cum necessitatibus dolor natus expedita laboriosam laborum, velit deserunt perspiciatis, placeat culpa fugiat suscipit tenetur maiores tempora corporis beatae nihil quo! Maxime nam eos laboriosam, commodi doloremque cupiditate repellat natus a quasi placeat temporibus dolorem rerum! Animi aliquid accusantium voluptatem nemo minima dignissimos non ullam.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5">
        <form class="p-4 p-md-5 border rounded-3 bg-light">
            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="name" placeholder="Enter your name">
                <label for="floatingPassword">Name/s</label>
              </div>
          <div class="form-floating mb-3">
            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
          </div>
          <div class="form-floating mb-3">
            <input type="number" class="form-control" id="contact" placeholder="Enter your contact number">
            <label for="floatingPassword">Contact number</label>
          </div>
          <div class="form-floating mb-3">
              <textarea name="" id="" cols="30" rows="10" placeholder="Enter your message here"></textarea>
          </div>
          <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
          <hr class="my-4">
        </form>
      </div>
    </div>
  </div>