<div class="container_home">
    <!-- Header Start -->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
      data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
  <!--  -->
</header>
<!-- Header End -->

<!-- Container Fluid Start -->
<div class="container-fluid">
  <div class="row">
      

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">Online Quiz</h1>
          </div>

          <!-- Dashboard Content Begin -->
          <div class="container p-5">
            <div class="row">
                <div class="col-sm-8 offset-2">
                    <div *ngIf="currentQuiz < 10">
                    <p class="text-center">{{ currentQuiz + 1 }} of {{ quizzes.length }}</p>
                    <h1>{{ quizzes[currentQuiz].question }}</h1>
        
                    <ul class="list-group" *ngFor="let quiz of quizzes[currentQuiz].answer">
                        <label>
                            <li class="list-group-item" >
                                <input type="radio" name="options" (change)="onAnswer(quiz.correct)" [disabled]="answerSelected">
                                {{ quiz.option}}
                            </li>
                            
                    </label>
                    </ul>
                </div>
                <div *ngIf="currentQuiz > 9">
                   <button class="btn btn-success btn-block" (click)="showResults()">Show Results</button>
                   <div *ngIf="results">
                    Correct answer: {{ correctAnswer }} | Incorrect Answer: {{ incorrectAnswer}} <br />
                    <!-- <a routerLink="/second-question"><button>Next</button></a> -->
                   </div>
                </div>
            </div>
            </div>
        </div>
        
          <!-- Dashboard Content End -->

      </main>
  </div>
</div>
<!-- Container Fluid End -->
</div>