<div class="container">
  <h2>Welcome and thank you for taking online test with us</h2>
  <p class=""tex-danger>This quiz contains 10 questions and you need to get 80% of the correct answers</p>
  <h4>Rules:</h4>
  <ol>
    <li>Each correct answer is 10%.</li>
    <li>After you click an answer you cannot go back</li>
    <li>the test is not timed, be sure before you cick the answer</li>
    <li>You will get your score at the end of the quiz</li>
  </ol>
  <h3 class="test">All the best👍😁</h3>
      <a class="btn btn-outline-danger" routerLink='/login-form'>Valuation test</a>
</div>  